@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@-ms-viewport{
    width: device-width;
  }
:root{
    --base-color1: #13142b;
    --base-color2: #0C0D23;
    --base-variant1: #191330;
    --base-varint2: #18122E;
    --text-color1: #ffffff;
    --text-color2: #dadada;
    --primary-color: #1f3244;
    --accent-color1: #006bb3;

    font-size: 16px;
    font-family: Inter, sans-serif;

    color: var(--text-color2);
    h1,h2, a{
        color: var(--text-color1);
    }
}
.lightmode{
    --base-color1: #dadcff;
    --base-color2: #d1d2e9;
    --base-variant1: #b8b0d4;
    --base-varint2: #aca4ca;
    --text-color1: #000000;
    --text-color2: #303030;
    --primary-color: #7274aa;
    --accent-color1: #007dd1;
}



/*----====TOP BAR====----*/
.top-bar{
    border-bottom: 2px black solid;

    display: flex;
    align-items: center;
    gap:2rem;
    padding-left: 2rem; padding-right: 2rem;

    position: fixed; top:0; left: 0;
    width: 100%; height: 8rem;

    background: linear-gradient(to top right, var(--base-variant1), var(--base-varint2));

    z-index: 100;
}
/*Logo*/
.main-logo{
    width: 7.5rem;
    min-width: 7.5rem;
    height: 7.5rem;
    min-height: 7.5rem;

    fill: var(--text-color1);
    background: var(--accent-color1);

    border: 3px var(--text-color1) solid;
    border-radius: 100%;
}
/*Title*/
.main-title{
    font-family: Lexend;
    font-weight: 800;
    font-size: 4rem;
}
.sub-title{
    font-family: Lexend;
    font-weight: 800;
    
    display:flex;
    flex-direction: column;
    
    h2{
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
        margin-left: -1rem;
    }

}
/*Register*/
.register-container{
    margin-left: auto;
    width: 31rem;

    display: flex;
    justify-content: center;
    gap:2rem;
}
.register-button{
    border: 2px var(--text-color2) solid;
    border-radius: 5rem;

    height:2rem;
    width: 7rem;

    align-content: center;
    text-align: center;

    font-weight: 600;
}



/*----====MAIN CONTAINER====----*/
.main-container{
    border: 1px blu solid;

    background: linear-gradient(to bottom right, var(--base-color1), var(--base-color2));

    display: flex;
    flex-direction: row;
    
    position:fixed; top:8rem ; left:0;
    width:100vw; height:100%;
}
/*Navbar*/
.navbar{
    border-right: 2px black solid;    

    width: 11rem; min-width: 11rem;

    display:flex;
    flex-direction: column;

    padding-top:1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background: linear-gradient(to bottom right, var(--base-variant1), var(--base-varint2));
}
.navbar-cat{
    display: flex;
    align-items: center;
    
    font-weight: 700;
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 0.3rem;

    color: var(--text-color1);
}
.navbar-cat::before,
.navbar-cat::after{
    content: "";
    
    width: 100%;
    margin:.25rem;
    
    border-bottom: 2px solid black;
    border-color: var(--text-color1);
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    gap:0.3rem;
}
.nav-button{
    background: var(--primary-color);

    display: flex;
    align-items: center;
    gap:0.3rem;

    height: 3rem;

    text-decoration: none;

    border-radius: 1.25rem;

    transition: 300ms ease;

    img{
        width: 2.5rem;
        margin-left: 0.5rem;
    }
    p{
        color: var(--text-color1);
        font-weight: 700;
        font-size: 1.4rem;
    }
}
.nav-button:hover{
    background: var(--accent-color1);
}
.navbar-theme-switch{
    margin-top: 12rem;
    
    height: 2rem; width: 5rem;
    align-self: center;

}
/*Content Container*/
.content-container{
    margin:2rem; margin-top: 1.5rem;
    width:100%;
}
/*Subconent Container*/
.subcontent-container{
    border-left: 2px black solid;

    background: rgba(0,0,0,0.1);

    width: 42rem;
}