@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@-ms-viewport{
    width: device-width;
  }
:root{
    --base-color1: #1a1a1a;
    --base-color2: #2F343B;
    --base-variant1: #101010;
    --base-variant2: #131313;
    --text-color1: #e6e6e6;
    --text-color2: #d1d1d1;
    --element-base1: #2E2E2E;
    --accent-color1: rgba(139, 0, 0, 0.8);
    --border-color1: rgba(255, 255, 255, 0.1);

    font-size: 16px;
    font-family: Inter, sans-serif;

    margin:0;
    padding:0;

    color: var(--text-color2);

    h1,h2, a{
        color: var(--text-color1);
    }
}
.lightmode{
    --base-color1: #F5F5F5;
    --base-color2: #EAEAEA;
    --base-variant1: #D6D9DD;
    --base-variant2: #C5C9CE;
    --text-color1: #333333;
    --text-color2: #666666;
    --element-base1: #FFFFFF;
    --accent-color1: #ca1c16;
    --border-color1: rgba(50, 50, 50, 0.2);
}
.particles-bg{
    position: absolute;
    display: block;
    
    top:0;
    left: 0;

    z-index: 0;
}



/*----====TOP BAR====----*/
.top-bar{
    border-bottom: 1px var(--border-color1) solid;

    display: flex;
    align-items: center;
    gap:2rem;
    padding-left: 2rem; padding-right: 2rem;

    position: fixed; top:0; left: 0;
    width: 100%; height: 8rem;

    background: linear-gradient(180deg, var(--base-variant1), var(--base-variant2));

    z-index: 1;
}
/*Logo*/
.main-logo{
    width: 7.5rem;
    min-width: 7.5rem;
    height: 7.5rem;
    min-height: 7.5rem;

    fill: var(--text-color1);
    background: var(--accent-color1);

    border: 3px var(--text-color1) solid;
    border-radius: 100%;
}
/*Title*/
.main-title{
    font-family: Lexend;
    font-weight: 800;
    font-size: 4rem;
}
.sub-title{
    font-family: Lexend;
    font-weight: 800;
    
    display:flex;
    flex-direction: column;
    
    h2{
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
        margin-left: -1rem;
    }

}
/*Register*/
.register-container{
    display: flex;
    justify-content: center;
    position: fixed; right:2.5rem;

    gap:2rem;
}
.register-button{
    border-radius: 5rem;

    height:2rem;
    width: 7rem;

    align-content: center;
    text-align: center;

    font-weight: 600;

    background: var(--element-base1);
}



/*----====MAIN CONTAINER====----*/
.main-container{
    background: linear-gradient(180deg, var(--base-color1), var(--base-color2));

    display: flex;
    flex-direction: row;
    
    position:fixed; top:8rem;
    width:100vw; height:100%;

    margin-left: 11rem;
}
/*Navbar*/
.navbar{
    border-right: 1px var(--border-color1) solid;    

    width: 11rem; min-width: 11rem;
    height:100vh;

    display:flex;
    flex-direction: column;

    position: fixed; top:8rem; left:0;

    padding-top:1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background: linear-gradient(0deg, var(--base-variant1), var(--base-variant2));

    z-index: 100;
    overflow:hidden;
}
.navbar-cat{
    display: flex;
    align-items: center;
    
    font-weight: 700;
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 0.3rem;

    color: var(--text-color1);
}
.navbar-cat::before,
.navbar-cat::after{
    content: "";
    
    width: 100%;
    margin:.25rem;
    
    border-bottom: 2px solid black;
    border-color: var(--text-color1);
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    gap:0.3rem;
}
.nav-button{
    background: var(--element-base1);

    display: flex;
    align-items: center;
    gap:0.3rem;

    height: 2.5rem;

    text-decoration: none;

    border-radius: 1.5rem;

    transition: 300ms ease;

    svg{
        width: 2.35rem;
        max-height: 2.35rem;
        margin-left: 0.5rem;
        fill: var(--text-color1)
    }
    p{
        color: var(--text-color1);
        font-weight: 700;
        font-size: 1.2rem;
    }
}
.nav-button:hover{
    background: var(--accent-color1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5px) scale(1.01);
    cursor: pointer;
}
.nav-button:active{
    transform: translateY(0.5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
/*Theme switch*/
.info-bubble{
    position: fixed; bottom: 0;
    margin-bottom: 7rem;
    padding:0.2rem;
    
    height: 1.5rem;
    align-self: center;

    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    background: var(--element-base1);

    border-radius: 5px;

    transition: all 150ms ease;
}
.info-bubble::after{
    content: "";
    
    position: absolute; bottom: -20px; left: 50%;
    
    transform: translateX(-50%);

    border-width: 10px;
    border-style: solid;
    border-color: var(--element-base1) transparent transparent transparent;
}
.theme-switch-container{
    position: absolute; bottom: 0;
    margin-bottom: 12.5rem;

    height: 2rem; width: 5rem;
    align-self: center;

    border-radius: 20rem;
    border: 2px var(--border-color1) solid;

    overflow: hidden;
}
#theme-switch-slide{
    width: 10rem;
    height: 100%;
    
    z-index: 1;
    transition: transform 300ms ease;

    display: flex;
    justify-content: baseline;

    position:absolute;

}
#slide-dark{
    background: #0C0A00;
    height: 100%;
    width: 100%;

    border-radius: 20rem;

    display:flex;
    align-items: center;
    justify-content: center;

    svg{
        fill:#d1d1d1;
        width:2rem;
        height: 2rem;
    }
}
#slide-light{
    background: #FFFFFF;
    height: 100%;
    width: 100%;

    border-radius: 20rem;

    display:flex;
    align-items: center;
    justify-content: center;

    svg{
        fill: #FFD700;
        width: 2rem;
        height: 2rem;
    }
}
#theme-switch-content{
    position: relative;
    z-index: 2;

    color: var(--text-color1);
    background: none;
}
#theme-switch-button{
    height: 2rem; width: 5rem;
    align-self: center;

    border: none;
    border-radius: 20rem;

    background: none;
}
#theme-switch-button:hover{
    cursor: pointer;

    .info-bubble{
        display: flex;
    }
}


/*Content Container*/
.content-container{
    margin:2rem; margin-top: 1.5rem;
    width:100%;
}
/*Subconent Container*/
.subcontent-container{
    border-left: 1px var(--border-color1) solid;
    width: 48rem;
}