@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@-ms-viewport{
    width: device-width;
  }
:root{
    --base-color1: #1a1a1a;
    --base-color2: #2F343B;
    --base-variant1: #101010;
    --base-variant2: #131313;
    --text-color1: #e6e6e6;
    --text-color2: #d1d1d1;
    --element-base1: #2E2E2E;
    --accent-color1: rgb(117, 0, 0);
    --border-color1: rgba(255, 255, 255, 0.1);

    font-size: 16px;
    font-family: Inter, sans-serif;

    margin:0;
    padding:0;

    color: var(--text-color2);

    h1,h2, a{
        color: var(--text-color1);
    }
}
.lightmode{
    --base-color1: #F5F5F5;
    --base-color2: #EAEAEA;
    --base-variant1: #D6D9DD;
    --base-variant2: #C5C9CE;
    --text-color1: #333333;
    --text-color2: #666666;
    --element-base1: #FFFFFF;
    --accent-color1: #ca1c16;
    --border-color1: rgba(50, 50, 50, 0.6);
}



/*----====HEADER====----*/
.header{
    border-bottom: 1px var(--border-color1) solid;

    display: flex;
    align-items: center;
    
    gap:2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    position: fixed;
    top:0;
    left: 0;
    
    width: 100%;
    height: 8rem;

    background: linear-gradient(180deg, var(--base-variant1), var(--base-variant2));

    z-index: 2;
}
/*Logo*/
.main-logo{
    width: 7.5rem;
    min-width: 7.5rem;
    height: 7.5rem;
    min-height: 7.5rem;

    fill: var(--text-color1);
    background: var(--accent-color1);

    border: 3px var(--text-color1) solid;
    border-radius: 100%;
}
/*Title*/
.main-title{
    font-family: Lexend;
    font-weight: 800;
    font-size: 4rem;

    user-select: none;
}
.sub-title{
    font-family: Lexend;
    font-weight: 800;
    
    display:flex;
    flex-direction: column;

    user-select: none;
    
    h2{
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
        margin-left: -1rem;
    }

}
/*Register*/
.register-container{
    display: flex;
    justify-content: center;
    position: fixed; right:2.5rem;

    gap:2rem;
}
.register-button{
    border-radius: 5rem;

    height:2rem;
    width: 7rem;

    align-content: center;
    text-align: center;

    font-weight: 600;

    background: var(--element-base1);
}




/*----====NAVBAR====----*/
.navbar{
    display: flex;
    flex-direction: column;
    
    gap:0.4rem;

    border-right: 1px var(--border-color1) solid;    

    width: 11rem;
    min-width: 11rem;
    height:100vh;

    position: fixed;
    top:8rem;
    left:0;

    padding-top:1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background: linear-gradient(0deg, var(--base-variant1), var(--base-variant2));

    z-index: 2;
}
.navbar-cat{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    
    font-weight: 700;
    text-align: center;
    color: var(--text-color1);

    margin-top: 1rem;
    margin-bottom: 0.3rem;
}
.navbar-cat::before,
.navbar-cat::after{
    content: "";
    
    width: 100%;
    margin:.25rem;
    
    border-bottom: 2px solid black;
    border-color: var(--text-color1);
}
.navbar-deployable{
    display: flex;
    flex-direction: row;

    width: 22rem;
    
    padding: 0;
    margin: 0;
}
.navbar-deployable-content{
    visibility: hidden;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap:0.4rem;

    padding: 0.4rem;
    margin: none;

    position: absolute;

    max-height:1.5rem;
    min-width: 11rem;
    
    border: 1px var(--border-color1) solid;
    background: linear-gradient(0deg, var(--base-variant1), var(--base-variant2));

    overflow: hidden;

    transition: all 250ms ease;

    z-index:1;

    h2{
        text-align: center;
        margin:0;
    }
    a p{
        font-size: 1rem;
    }
}
.btn-navbar{
    display: flex;
    align-items: center;
    
    gap:0.3rem;

    height: 2.5rem;
    min-width: 11rem;

    text-decoration: none;
    
    background: var(--element-base1);

    border: none;
    border-radius: 1.5rem;

    transition: 150ms ease;

    z-index: 2;

    svg{
        width: 2.35rem;
        max-height: 2.35rem;
        margin-left: 0.5rem;
        fill: var(--text-color1)
    }
    p{
        color: var(--text-color1);
        font-weight: 700;
        font-size: 1.45rem;
    }
}
.btn-navbar:hover{
    background: var(--accent-color1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5px) scale(1.01);
    cursor: pointer;
}
.btn-navbar:active{
    transform: translateY(0.5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
/*Theme switch*/
.theme-switch-container{
    position: absolute;
    bottom: 0;

    margin-bottom: 12.5rem;

    height: 2rem; 
    width: 5rem;
    
    align-self: center;

    border-radius: 20rem;
    border: 2px var(--border-color1) solid;

    overflow: hidden;
}
.info-bubble{
    position: fixed; bottom: 0;
    margin-bottom: 7rem;
    padding:0.2rem;
    
    height: 1.5rem;
    align-self: center;

    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    background: var(--element-base1);

    border-radius: 5px;

    transition: all 150ms ease;
}
.info-bubble::after{
    content: "";
    
    position: absolute; bottom: -20px; left: 50%;
    
    transform: translateX(-50%);

    border-width: 10px;
    border-style: solid;
    border-color: var(--element-base1) transparent transparent transparent;
}
#theme-switch-slide{
    width: 10rem;
    height: 100%;
    
    transition: transform 300ms ease;

    display: flex;
    justify-content: baseline;

    position:absolute;

}
#slide-dark{
    background: #0C0A00;
    height: 100%;
    width: 100%;

    border-radius: 20rem;

    display:flex;
    align-items: center;
    justify-content: center;

    svg{
        fill:#d1d1d1;
        width:2rem;
        height: 2rem;
    }
}
#slide-light{
    background: #FFFFFF;
    height: 100%;
    width: 100%;

    border-radius: 20rem;

    display:flex;
    align-items: center;
    justify-content: center;

    svg{
        fill: #FFD700;
        width: 2rem;
        height: 2rem;
    }
}
#theme-switch-content{
    position: relative;

    color: var(--text-color1);
    background: none;
}
#theme-switch-button{
    height: 2rem; width: 5rem;
    align-self: center;

    border: none;
    border-radius: 20rem;

    background: none;
}
#theme-switch-button:hover{
    cursor: pointer;
}




/*----====MAIN====----*/
.main{
    background: linear-gradient(180deg, var(--base-color1), var(--base-color2));

    display: flex;
    flex-direction: row;
    
    position:fixed;
    top:8rem;
    left:12rem;
    
    width:100vw;
    height:calc(100vh - 8rem);

    z-index: 0;
}
.container-maincontent{
    display:flex;
    flex-direction: column;

    padding: 1.25rem;
    
    width:100%;

    z-index: 1;
}
.container-map{
    display: flex;
    flex-direction: row;
}
/* \/\/\/\/ MAP \/\/\/\/ */
.map-svgs svg{
    margin-left: 2rem;

    width: 32vw;
    height: auto;
    min-width: 30rem;
    min-height: auto;

    background: #2673B0;
}
.map-svgs svg g{
    transition: all 150ms ease;
}
#map-sami:hover,
#map-ursus:hover,
#map-higashi:hover,
#map-kazimierz:hover,
#map-bolivar:hover,
#map-columbia:hover,
#map-kjerag:hover,
#map-siesta:hover,
#map-minos:hover,
#map-kazdel:hover,
#map-yan:hover,
#map-victoria:hover,
#map-leithanien:hover,
#map-laterano:hover,
#map-siracusa:hover,
#map-rimbilliton:hover,
#map-sargon:hover,
#map-iberia:hover
{
    transform: translateY(-1rem);
    
    cursor: pointer;
}
#map-aegir{
    transition: all 150ms ease;
}
#map-aegir:hover{
    transform: translateY(-1rem);
    
    cursor: pointer;
    
    path{
        fill: #2c7bbb;
    }
}
.map-text{
    visibility: visible;

    font-family: Lexend;
    text-anchor: middle;
    
    fill:#FFFFFF;
    
    stroke: #000000;
    stroke-width: 5px;
   
    user-select: none;

    paint-order: stroke fill;
}
/* /\/\/\/\ MAP /\/\/\/\ */
.container-sidecontent{
    border-left: 1px var(--border-color1) solid;
    
    width: 48rem;

    z-index: 1;
}
.particles-bg{
    position: absolute;
    display: block;

    z-index: 0;
}
